<div id="footerContact" class="w-100 bg-dark">
    <div class="text-center text-lg-start bg-white text-muted">
        <section class="footer-about bg-dark">
            <div class="container text-center text-md-start mt-5">
                <div class="row mt-3">
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <h3 class="mb-4">
                            <img src="assets/img/logo-montenegro.png" height="60px" alt="">
                        </h3>
                        <section class="mt-4">
                            <div>
                                <a href="https://www.facebook.com/" target="_blank" class="me-4 social">
                                    <i class="fa-brands fa-facebook fa-xl social-face"></i>
                                </a>
                                <a href="https://api.whatsapp.com/send/?phone=573194979100&text&type=phone_number&app_absent=0"
                                    target="_blank" class="me-4 social">
                                    <i class="fa-brands fa-whatsapp fa-xl social-whats"></i>
                                </a>
                                <a href="https://www.instagram.com/" target="_blank" class="me-4 social">
                                    <i class="fa-brands fa-instagram fa-xl social-insta"></i>
                                </a>
                            </div>
                        </section>
                    </div>
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 productos">
                        <h3 class="mb-4">
                            Productos
                        </h3>
                        <p class="productos">
                            <a href="#" class="text-reset text-decoration-none">Anillos</a>
                        </p>
                        <p>
                            <a href="#" class="text-reset text-decoration-none">Aretes</a>
                        </p>
                        <p>
                            <a href="#" class="text-reset text-decoration-none">Cadenas</a>
                        </p>
                    </div>
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 contactoFooter footer-color">
                        <h3 class="mb-4">Contacto</h3>
                        <p><i class="fas fa-home me-3"></i><a href="https://goo.gl/maps/R1GuJPYPQMo6iS3K8"
                                target="_blank" class="text-decoration-none">Cll 75 #54-55</a><iframe class="mt-2 ps-4"
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.5601233305215!2d-74.07732052577637!3d4.672223841905344!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9afdd18faa81%3A0x6a593f520a1612be!2sCl.%2075%20%2354-55%2C%20Bogot%C3%A1!5e0!3m2!1ses!2sco!4v1689988183688!5m2!1ses!2sco"
                                width="350" height="220" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe></p>
                        <p>
                            <i class="fas fa-envelope me-3"></i>
                            <a href="mailto:montenegro@gmail.com" class="text-decoration-none">montenegro@gmail.com</a>
                        </p>
                        <p>
                            <i class="fas fa-phone me-3"></i>
                            <a href="tel:3194979100" class="text-decoration-none">319 497 9100</a> - <a
                                href="tel:3114128070" class="text-decoration-none">311 412 8070</a>
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <div class="text-center py-3 footer-copyrigth border-top bg-dark">
            Montenegro Copyright © 2023
        </div>
    </div>
</div>