.footer-color {
    color: #ffffffcc;
}

.productos {
    color: #ffffffcc;
}

.contactoFooter a {
    color: #ffffffcc;
}

.modal-body {
    padding: 0;
    padding-top: 50px;
}

.social {
    color: #ffffffcc;
}

.social-face:hover {
    color: #0000ff;
}

.social-whats:hover {
    color: #adff2f;
}

.social-insta:hover {
    color: #ff0000;
}

.footerForm {
    cursor: pointer;
}

.footer-copyrigth {
    color: #ffffffcc;
}

.footer-copyrigth a {
    color: #ffffffcc;
}