
<footer class="cont">
    <section class="container">
        <div class="row">

            <div class="col-4  d-flex justify-content-center flex-column">
                <h3 class="fw-lighter top">Redes/Contacto</h3>

                    <li class="class mt-2 top"><i class=" me-2 fa-brands fa-whatsapp fa-shake fa-2xl" style="color: #0ce208;"></i>3112445198 / 3245041552</li>
                    <li class="class mt-4 top"><i class=" me-2 fa-brands fa-instagram fa-shake fa-2xl" style="color: #183153;"></i>@Santiag0209ADC</li>
                    <li class="class mt-4 top"><i class=" me-2  fa-brands fa-telegram fa-shake fa-2xl" style="color: #0ac6f5;"></i>Montenegro Shop</li>
                    <li class="class mt-4 top"><i class=" me-1 fa-solid fa-envelope fa-shake fa-2xl" style="color: #63728c;"></i>  montenegroshop@gmail.com</li>


            </div>
            <div class="col-4  d-flex justify-content-center flex-column">
                <h3 class=" fw-bold top">Productos TOP</h3>

                <li class="class mt-2 top">Anillos de hilo</li>
                <li class="class mt-4 top">Pulseras parejas</li>
                <li class="class mt-4 top">Candongas</li>
            </div>

            <div class="col-4  d-flex justify-content-center flex-column top">
                <h3 class="fw-lighter "><i class="fas fa-home me-1 fa-sm"></i> Tienda fisica: </h3>

                <div><i class="me-2 fa-solid fa-location-dot fa-xl"></i><a href="https://goo.gl/maps/R1GuJPYPQMo6iS3K8"
                    target="_blank" class="text-decoration-none">Dg 73a bis #38 A 59 sur</a>
                    <iframe class="mt-2 ps-4"
                    src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d2364.837247228724!2d-74.16636647055327!3d4.5641022671243!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m5!1s0x8e3f9f76aa0bd94f%3A0xd0ef1b816695e50e!2sCl.%2073a%20Bis%20Sur%2C%20Cdad.%20Bol%C3%ADvar%2C%20Bogot%C3%A1!3m2!1d4.5639916!2d-74.16541409999999!4m0!5e0!3m2!1ses!2sco!4v1697167149505!5m2!1ses!2sco"
                    width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe></div>
            </div>

        </div>
    </section>
</footer>

