<nav class="navbar navbar-dark bg-dark navbar-expand-lg fixed-top">
    <div class="container-fluid px-5">
        <a class="navbar-brand" routerLink="/"><img src="assets/img/logo-montenegro-nav.png" id="logoNav"
                alt="Logo Coding del sitio"></a>
        <div class="navbar-toggler border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar">
            <i class="fa-regular fa-user iconScreenSmall px-3"></i>
            <span class="fa-solid fa-bars"></span>
        </div>
        <div class="offcanvas offcanvas-end  text-bg-dark" tabindex="-1" id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header justify-content-end">
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body justify-content-end">
                <div class="navbar-nav ">
                    <ul id="items" class="d-flex mb-0">
                        <li class="btnNav nav-item nav-link">
                            <a routerLink="#" class="nav-link text-white">
                                <span class="menu-item">Ofertas</span>
                            </a>
                        </li>
                        <li class="nav-item nav-link">
                            <a routerLink="#" class="nav-link text-white">
                                <span class="menu-item">Anillos</span>
                            </a>
                        </li>
                        <li class="nav-item nav-link ">
                            <a routerLink="#" class="nav-link text-white">
                                <span class="menu-item">Aretes</span>
                            </a>
                        </li>
                        <li class="nav-item nav-link">
                            <a routerLink="#" class="nav-link text-white">
                                <span class="menu-item">Cadenas</span>
                            </a>
                        </li>
                        <li class="nav-item nav-link">
                            <a href="#footerContact" class="nav-link text-white">
                                <span class="menu-item">Contacto</span>
                            </a>
                        </li>
                        <li class="menu-item-login nav-item nav-link">
                            <a routerLink="/ingreso" class="nav-link">
                                <span class="menu-item">Ingreso</span>
                                <i class="fa-regular fa-user iconUserNav"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>