<section class="mt-5">
    <div class="spaceSmall">
        <div class="bloquePadre">
            <div class="bloqueIzquierdo">
                <h1 class="login">
                    Montenegro
                </h1>
                <div class="textLogin">
                    Bienvenido a la pagina de <strong>logeo</strong>, por favor ingrese sus credenciales
                </div>
            </div>
            <div class="bloqueDerecho">
                <form class="formLogin">
                    <div class="input-wrapper">
                        <input class="input-box" type="email" placeholder="Usuario">
                        <span class="underline"></span>
                    </div>
                    <div class="input-wrapper">
                        <input class="input-box" type="password" placeholder="Contraseña">
                        <span class="underline"></span>
                    </div>
                    <button class="button-submit">Iniciar sesión</button>
                    <div class="text-white pt-1">
                        <a class="text-decoration-none" href="#">¿Olvido su Contraseña?</a>
                    </div>
                    <div class="text-white pt-1">
                        ¿No tiene cuenta? <a class="text-decoration-none" routerLink="/registro">Cree una</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>