<section class="container cont">
    <div class="ps-5 pe-5 pt-1">
        <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-inner rounded">
                <div class="carousel-item active">
                    <img src="assets/img/productos/carrousel1.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="//via.placeholder.com/1115x500.png/" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <h2 class="pt-5 tx">NOVEDADES</h2>
        </div>
        <div class="col-12 pt-5 d-flex justify-content-center">
            <p class="fs-3 txx">Diseñados para brillar en lo alto</p>
        </div>
    </div>

    <div>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card aaa">
                    <img src="/assets/img/productos/anilloGR.png" height="150px" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Anillos Dama y Caballero.</h5>
                        <p class="card-text">Que tus manos sean el reflejo de una personalidad que brilla.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card aa">
                    <img src="/assets/img/productos/manillaGR.png" height="150px" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Pulseras y manillas UNISEX.</h5>
                        <p class="card-text">Comparte un detalle con esa persona especial, unidos por un lazo de oro.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card aaa">
                    <img src="/assets/img/productos/cadenaGR.png" height="150px" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Cadenas y gargantillas.</h5>
                        <p class="card-text"> A la altura del corazón un destello de iluminación. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center">
        <button routerLink="/productos" class="button mt-3 mb-3"> VER TODOS </button>
    </div>

    <section class="container-fluid">
        <div class="row mx-2 mt-5">
            <div class="col-sm-12 col-xl-5">
                <h2 class="title">Montenegro</h2>
                <div class="description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Dolor magna eget est lorem ipsum dolor sit. Justo laoreet sit
                        amet cursus. Mauris ultrices eros in cursus turpis. Nunc congue nisi vitae suscipit tellus
                        mauris a. Proin sagittis nisl rhoncus mattis rhoncus urna neque. Leo vel orci porta non pulvinar
                        neque laoreet suspendisse interdum.</p>
                    <p>Mi quis hendrerit dolor magna. Sem nulla pharetra diam sit amet nisl. Malesuada fames ac turpis
                        egestas. Pretium vulputate sapien nec sagittis aliquam malesuada bibendum arcu. A diam
                        sollicitudin tempor id eu nisl. Metus vulputate eu scelerisque felis. Leo in vitae turpis massa
                        sed elementum tempus.</p>
                    <p>Viverra orci sagittis eu volutpat odio facilisis mauris sit amet. Consequat interdum varius sit
                        amet mattis vulputate. Augue eget arcu dictum varius duis at consectetur lorem donec. Neque
                        convallis a cras semper auctor neque vitae tempus. Lorem dolor sed viverra ipsum nunc aliquet
                        bibendum.</p>
                </div>
                <button class="button px-4 py-2 mb-5" type="submit">
                    Conoce más
                </button>
            </div>
            <div class="col-sm-12 col-xl-7 mt-5 pe-4">
                <img src="https://via.placeholder.com/592x470" class="w-100" alt="" height="470px">
            </div>
        </div>



    </section>