<section class="container cont">
    <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="//via.placeholder.com/1115x500.png/">
            </div>
            <div class="carousel-item">
                <img src="//via.placeholder.com/1115x500.png/">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon sig" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <h2 class="pt-5 tx">NOVEDADES</h2>
        </div>
        <div class="col-12 pt-5 d-flex justify-content-center">
            <p class="fs-3 txx">Diseñados para brillar en lo alto</p>
        </div>
    </div>

    <div>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card aaa">
                    <img src="/assets/img/productos/anilloGR.png" height="150px" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Anillos Dama y Caballero.</h5>
                        <p class="card-text">Que tus manos sean el reflejo de una personalidad que brilla.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card aa">
                    <img src="/assets/img/productos/manillaGR.png" height="150px" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Pulseras y manillas UNISEX.</h5>
                        <p class="card-text">Comparte un detalle con esa persona especial, unidos por un lazo de oro.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card aaas">
                    <img src="/assets/img/productos/cadenaGR.png" height="150px" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Cadenas y gargantillas.</h5>
                        <p class="card-text"> A la altura del corazón un destello de iluminación. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center">
        <button routerLink="/productos" class="button mt-3 mb-3"> VER TODOS </button>
    </div>

</section>