.tx {
    color: var(--color-oro);
}

.txx {
    color: #BEBEBE;
}

.cont {
    background-color: var(--fondopp);
}

.aa {
    background-color: var(--color-oro);
}

.aaa {
    background-color: #BEBEBE;
}

.carousel-control-prev-icon {
    position: absolute;
    left: 18px;
}

.carousel-control-next-icon {
    position: absolute;
    right: 18px;
}