<section class="">
    <h1 class="d-flex justify-content-center pro"> - - PRODUCTOS DISPONIBLES - - </h1>
<section class="container cont d-flex justify-content-center">
    <div class="card mb-3 me-2 mt-3 carta" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/assets/img/Categorias/anillo1.png" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8 bg-black color">
            <div class="card-body">
              <h5 class="card-title m-2">Anillo de roca transparente.</h5>
              <h6 class="card-text m-4"> Valor: $140.000 - Envio gratis. </h6>
              <button class="card-text button m-1"><small class="text-body-secondary colorb">Saber más.</small></button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="container cont d-flex justify-content-center">
        <div class="card mb-3 mt-3 carta" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="/assets/img/Categorias/anillo2.png" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8 bg-black color">
                <div class="card-body">
                  <h5 class="card-title m-2">Anillo pluma y libro.</h5>
                  <h6 class="card-text m-4"> Valor: $130.000 - Envio gratis. </h6>
                  <button class="card-text button m-1"><small class="text-body-secondary colorb">Saber más.</small></button>
                </div>
              </div>
            </div>
          </div>
    </section>


<section class="container cont d-flex justify-content-center">
    <div class="card mb-3 carta" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/assets/img/Categorias/anillo3.png" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8 bg-black color">
            <div class="card-body">
              <h5 class="card-title m-2">Anillo de roca negra.</h5>
              <h6 class="card-text m-4"> Valor: $140.000 - Envio gratis. </h6>
              <button class="card-text button m-1"><small class="text-body-secondary colorb">Saber más.</small></button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="container cont d-flex justify-content-center">
    <div class="card mb-3 carta" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/assets/img/Categorias/manilla1.png"  class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8 bg-black color">
            <div class="card-body">
              <h5 class="card-title m-2">Manilla artesanal rosada.</h5>
              <h6 class="card-text m-4"> Valor: $140.000 - Envio gratis. </h6>
              <button class="card-text button m-1"><small class="text-body-secondary colorb">Saber más.</small></button>
            </div>
          </div>
        </div>
      </div>
</section>

<section class="container cont d-flex justify-content-center">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/assets/img/Categorias/manilla2.png" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8 bg-black color">
            <div class="card-body">
              <h5 class="card-title m-2">Manilla hilo personalizada h/m.</h5>
              <h6 class="card-text m-2"> Valor: $90.000 - 2 por $160.000. </h6>
              <button class="card-text button m-2"><small class="text-body-secondary colorb">Saber más.</small></button>
            </div>
          </div>
        </div>
      </div>
</section>

<section class="container cont d-flex justify-content-center">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/assets/img/Categorias/manilla3.png" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8 bg-black color">
            <div class="card-body">
              <h5 class="card-title m-2">Manilla corona del rey.</h5>
              <h6 class="card-text m-2"> Valor: $100.000 - Envio gratis. </h6>
              <button class="card-text button m-2"><small class="text-body-secondary colorb">Saber más.</small></button>
            </div>
          </div>
        </div>
      </div>
</section>

<section class="container cont d-flex justify-content-center">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/assets/img/Categorias/cadena1.png" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8 bg-black color">
            <div class="card-body">
              <h5 class="card-title m-2">Cadena tejido lazo gruesa.</h5>
              <h6 class="card-text mt-4 ms-2"> Valor: $140.000 - Envio gratis. </h6>
              <small class="text-body-secondary colorb mt-4 ms-2">Incluye estuche de lujo + kit de limpieza.</small>
              <button class="card-text button m-3"><small class="text-body-secondary colorb">Saber más.</small></button>
            </div>
          </div>
        </div>
      </div>
</section>

<section class="container cont d-flex justify-content-center">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/assets/img/Categorias/cadena2.png" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8 bg-black color">
            <div class="card-body">
              <h5 class="card-title m-2">Cadena eslabones planos.</h5>
              <h6 class="card-text mt-4 ms-2"> Valor: $210.000 - Envio gratis. </h6>
              <small class="text-body-secondary colorb mt-4 ms-2">Incluye estuche de lujo + kit de limpieza.</small>
              <button class="card-text button m-3"><small class="text-body-secondary colorb">Saber más.</small></button>
            </div>
          </div>
        </div>
      </div>
</section>

<section class="container cont d-flex justify-content-center">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/assets/img/Categorias/cadena3.png" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8 bg-black color">
            <div class="card-body">
              <h5 class="card-title m-2">Escapulario virgen Maria.</h5>
              <h6 class="card-text mt-4 ms-2"> Valor: $240.000 - Envio gratis. </h6>
              <small class="text-body-secondary colorb mt-4 ms-2">Incluye estuche de lujo + kit de limpieza.</small>
              <button class="card-text button m-3"><small class="text-body-secondary colorb">Saber más.</small></button>
            </div>
          </div>
        </div>
      </div>
</section>
</section>




