.cont{
    background-color: var(--fondopp);
}
.color{
    color: #ffffff
}
.colorb{
    color: #ffffff !important;
}
.pro{
    color: var(--color-oro);
}
.carta{
    height: auto;
}

.carta img{
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
