.cont {
    background-color: var(--fondopp);
}

.letramodal {
    color: #ffffffcc;
}

.precio {
    color: var(--color-oro);
}

.pro {
    color: var(--color-oro);
}

.carta {
    background-color: #BEBEBE;
}

.letram {
    color: #BEBEBE;
}